<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="chat" class="container">
    <h1>Vue School Chat Room</h1>
    <div v-for="message in messages" class="card">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>

            <p v-if="message !== editingMessage" class="card-text">{{ message.text }}</p>
            <textarea v-else v-model="messageText" class="form-control"></textarea>

            <div v-if="message !== editingMessage">
                <a href="#" @click.prevent="deleteMessage(message)" class="card-link">Delete</a>
                <a href="#" @click.prevent="editMessage(message)" class="card-link">Edit</a>
            </div>
            <div v-else>
                <a href="#" @click.prevent="cancelEditing" class="card-link">Cancel</a>
                <a href="#" @click.prevent="updateMessage" class="card-link">Update</a>
            </div>
        </div>
    </div>
    <hr>
    <form v-if="!editingMessage" @submit.prevent="storeMessage">
        <div class="form-group">
            <label>Message:</label>
            <textarea v-model="messageText" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Nickname:</label>
            <input v-model="nickname" class="form-control">
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
</div>
<script>
    // Initialize Firebase
    const config = {
        apiKey: "AIzaSyC0ra7Kq0TkAKqUcDjw-RmlsE8NB3PrkNo",
        authDomain: "chatbot-518ec.firebaseapp.com",
        databaseURL: "https://chatbot-518ec.firebaseio.com",
        projectId: "chatbot-518ec",
        storageBucket: "chatbot-518ec.appspot.com",
        messagingSenderId: "31862629363"
    };
    firebase.initializeApp(config);

    const database = firebase.database()
    const messageRef = database.ref('messages')

    new Vue ({
        el: '#chat',
        data: {
            messages: [],
            nickname: 'meltz',
            messageText: '',
            editingMessage: null
        },
        methods: {
            storeMessage() {
                messageRef.push({ nickname: this.nickname, text: this.messageText })
                this.messageText = ''
            },
            deleteMessage(message) {
                messageRef.child(message.id).remove()
            },
            editMessage(message) {
                this.editingMessage = message
                this.messageText = message.text
            },
            cancelEditing() {
                this.editingMessage = null
                this.messageText = ''
            },
            updateMessage() {
                messageRef.child(this.editingMessage.id).update({ text: this.messageText })
                this.cancelEditing()
            }
        },
        // If you link the created hook, you can directly execute code as soon as the program starts.
        created() {
            messageRef.on('child_added', snapshot => this.messages.push({ ...snapshot.val(), id: snapshot.key} ))

            messageRef.on('child_removed', snapshot => {
                const deletedMessage = this.messages.find(message => message.id === snapshot.key)
                const index = this.messages.indexOf(deletedMessage)
                this.messages.splice(index, 1)
            })

            messageRef.on('child_changed', snapshot => {
                const updatedMessage = this.messages.find(message => message.id === snapshot.key)
                updatedMessage.text = snapshot.val().text
                updatedMessage.nickname = snapshot.val().nickname
            })
        }
    })

</script>
</body>
</html>